In [11]:
import pandas as pd

In [12]:
df = pd.read_csv("HomeWorkDataSet.csv")
# For starters, let’s read in and check out the first five rows of the data:
df.head()

   Customer_Id Gender Car_type   Shirt_Size Class
0            1      M   Family        Small    C0
1            2      M   Sports       Medium    C0
2            3      M   Sports       Medium    C0
3            4      M   Sports        Large    C0
4            5      M   Sports  Extra Large    C0

In [13]:
# With unique() we can check what kind of Gender we’re dealing with:
df["Gender"].unique()

array(['M', 'F'], dtype=object)

In [14]:
# We won’t need the customer ids, so let’s drop that column:
df = df.drop("Customer_Id", axis=1)

In [16]:
#Because the decision trees in scikit-learn can’t work with string values, we need to convert strings to numbers with get_dummies():
pd.get_dummies(df.drop("Gender", axis=1))

,Car_type_Family,Car_type_Luxury,Car_type_Sports,Shirt_Size_Extra Large,Shirt_Size_Large,Shirt_Size_Medium,Shirt_Size_Small,Class_C0,Class_C1
0,True,False,False,False,False,False,True,True,False
1,False,False,True,False,False,True,False,True,False
2,False,False,True,False,False,True,False,True,False
3,False,False,True,False,True,False,False,True,False
4,False,False,True,True,False,False,False,True,False
5,False,False,True,True,False,False,False,True,False
6,False,False,True,False,False,False,True,True,False
7,False,False,True,False,False,False,True,True,False
8,False,False,True,False,False,True,False,True,False
9,False,True,False,False,True,False,False,False,True
10,True,False,False,False,True,False,False,False,True
11,True,False,False,True,False,False,False,False,True
12,True,False,False,False,False,True,False,False,True
13,False,True,False,True,False,False,False,False,True
14,False,True,False,False,False,False,True,False,True
15,False,True,False,False,False,False,True,False,True
16,False,True,False,False,False,True,False,False,True
17,False,True,False,False,False,True,False,False,True
18,False,True,False,False,False,True,False,False,True
19,False,True,False,False,True,False,False,False,True